{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}
<!-- <p class="aligncenter">
    <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fstock-photos%2Fabout-us.html&psig=AOvVaw2IomHX34EK0WfIioYEB5pd&ust=1663937038535000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNjSk9K2qPoCFQAAAAAdAAAAABAE" width="400" height="500";>
</p>
<style>
    .aligncenter {
        margin-top:20px;
        text-align: center;
    }
    </style> -->
    
    <center>
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>Some text about who we are and what we do.</p>
            <p>Resize the browser window to see that this page is responsive by the way.</p>
          </div>
    
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/static/img/resume.png" alt="Bhavesh" style="width:80% , height=70%">
          <div class="container">
            <h2>Bhavesh Sondagar</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>bhavesh@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </center>
{% endblock body %}